@font-face {
  font-family: "CourierPrime";
  src: local("Courier Prime"), url("Courier Prime.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CourierPrimeItalic";
  src: local("Courier Prime Italic"), url("Courier Prime Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CourierPrimeBold";
  src: local("Courier Prime Bold"), url("Courier Prime Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CourierPrimeBoldItalic";
  src: local("Courier Prime Bold Italic"), url("Courier Prime Bold Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}