/*
 * iA Writer Template “Screenplay”
 * font-family: Courier
*/

body {
  background-color: #fff;
  color: #3e3e3e;
  font-family: 'CourierPrime';
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  padding: 0;
  margin-left: 8.3646em;
  margin-right: 5.5em;
  margin-top: 5.5em;
  margin-bottom: 5.5em;
  line-height: 1em;
}

/* Hide title page in web view */
@media screen {
  .title-page {
    display: none;
  }
}

/* Hide sections and synopses */
.section,
.synopsis {
  display: none;
}

/* By default, all headings are same size as body text */

h1, h2, h3, h4, h5, h6 {
  font-family: 'CourierPrimeBold';
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}


#page-number-para {
  transform: translateY(-3em);
  text-align: right;
}

/* Transitions */
h2 {
  text-align: right;
}

/* Scene Headings */
h3 {
  font-family: 'CourierPrimeBold';
  font-weight: normal;
  font-style: normal;
}


/* Optional scene numbering */
h3::before {
  position: absolute;
  display: inline-block;
  content: attr(id);
  left: 6em;
}

h3::after {
  position: absolute;
  display: inline-block;
  content: attr(id);
  right: 4em; 
}

/* Character names */
.dialogue > h4 {
  margin-left: 13em;
  margin-bottom: 0;
  break-after: avoid-page; /* Avoid orphan character names */
  /* font-family: 'CourierPrime';  /* Uncomment this line to make character names the same font weight as body */
}

/* Spoken text */
.dialogue > p {
  margin-left: 5em;
  width: 24em;
  margin-top: 0;
}

.dual-dialogue {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dual-dialogue > .left,
.dual-dialogue > .right {
  margin-left: -5em;
  width: 50%;
}

.dual-dialogue > .dialogue > p {
  width: 20em;
}

.dual-dialogue > .dialogue > .parenthetical {
  width: 100%;
  margin-left: 11em;
  margin-bottom: 0;
}

/* Wrylies */
.dialogue > .parenthetical {
  margin-left: 11em;
  margin-bottom: 0;
}

/* Ensure wrylies inside dialog keep tight vertical margin */
.dialogue > p + .parenthetical {
  margin-top: -1em;
}

/* Page Breaks */
hr {
  visibility: hidden;
  page-break-before: always;
}


.bold {
  font-family: 'CourierPrimeBold';
  font-weight: normal;
  font-style: normal;
}

.italic {
  font-family: 'CourierPrimeItalic';
  font-weight: normal;
  font-style: normal;
}

.bold.italic {
  font-family: 'CourierPrimeBoldItalic';
  font-weight: normal;
  font-style: normal;
}

.underline {
  text-decoration: underline;
}

.centered {
  text-align: center;
}


/* Mobile web */
@media screen and (max-width: 770px) {
 .dual-dialogue {
    grid-template-columns: 1fr;
  }
  
  .dual-dialogue > .dialogue > p {
    margin-left: 5em;
    width: 24em;
    margin-top: 0;
  }
  
  .dual-dialogue > .left,
  .dual-dialogue > .right {
    margin-left: 0;
    max-width: none;
    width: 100%;
  }
  
}

@media screen and (max-width: 700px) {
  body {
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  
  /* Optional scene numbering */
  h3::before {
    left: 1em;
  }

  h3::after {
    right: 1em; 
  }

  /* Character names */
  .dialogue > h4 {
    margin-left: 0;
    text-align: center;
  }

  /* Spoken text */
  .dialogue > p,
  .dual-dialogue > .dialogue > p {
    margin-left: 5em;
    width: 25em; 
  }
  
  .dual-dialogue > .left,
  .dual-dialogue > .right {
    margin-left: 0;
    max-width: none;
    width: 100%;
  }
  
  /* Wrylies */
  .dialogue > .parenthetical,
  .dual-dialogue > .dialogue > .parenthetical {
    width: 100%;
    margin-left: 0;
    text-align: center;
    transform: translateX(-3em);
  }
  
}

@media screen and (max-width: 600px) {
  body {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  /* Optional scene numbering */
  h3::before {
    left: 1em;
  }

  h3::after {
    right: 1em; 
  }

  /* Character names */
  .dialogue > h4 {
    margin-left: 0;
    text-align: center;
  }

  /* Spoken text */
  .dialogue > p,
  .dual-dialogue > .dialogue > p {
    margin-left: 5em;
    width: 20em; 
  }

  /* Wrylies */
  .dialogue > .parenthetical,
  .dual-dialogue > .dialogue > .parenthetical  {
    margin-left: 0;
    text-align: center;
    transform: translateX(-3em);
  }
  
}

@media screen and (max-width: 480px) {
  body {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  /* Optional scene numbering */
  h3::before {
    left: 1em;
  }

  h3::after {
    right: 1em; 
  }

  /* Character names */
  .dialogue > h4 {
    margin-left: 0;
    text-align: center;
  }

  /* Spoken text */
  .dialogue > p,
  .dual-dialogue > .dialogue > p {
    margin-left: 3em;
    width: 17em; 
  }

  /* Wrylies */
  .dialogue > .parenthetical,
  .dual-dialogue > .dialogue > .parenthetical  {
    margin-left: 0;
    text-align: center;
    transform: translateX(-3em);
  }
  
}

@media print{
  body {
    background-color: #fff;
    color: black; /* true black for printing */
    font-family: 'CourierPrime';
    font-weight: normal;
    font-style: normal;
    font-size: 11pt; /* Reduced to counteract webkit PDF bug */
    padding: 0;
    margin-left: 100pt;
    margin-right: 66pt;
    margin-top: 66pt;
    margin-bottom: 66pt;
    line-height: 1em;
  }
  
  /* Title page */
  .title-page > h1, .title-page > .credit, .title-page > .authors, .title-page > .source {
    text-align: center;
    margin-left: -2.76em;
  }

  .title-page > h1 {
    margin-top: 15em;
    margin-bottom: 3em;
  }

  .title-page > .authors {
    margin-bottom: 4.5em;
  }

  .title-page > .notes {
    text-align: right;
    margin-top: 15em;
    margin-bottom: 2.5em;
  }

  .title-page > .copyright,
  .title-page > .draft-date,
  .title-page > .date,
  .title-page > .contact {
    margin-left: -2.76em;
  }
  
  /* Optional scene numbering */
  h3::before {
    position: absolute;
    display: inline-block;
    content: attr(id);
    left: 70pt;
  }

  h3::after {
    position: absolute;
    display: inline-block;
    content: attr(id);
    right: 50pt; 
  }

  /* Character names */
  .dialogue > h4 {
    margin-left: 158.4pt;
    margin-bottom: 0;
    break-after: avoid-page; /* Avoid orphan character names */
  }

  /* Spoken text */
  .dialogue > p {
    margin-left: 60pt;
    margin-top: 0;
  }
  
  .dual-dialogue {
    grid-template-columns: [left-content-start] 1fr [left-content-end] 1fr [right-content-start] 1fr [right-content-end];
  }
  
  .dual-dialogue > .left { 
    grid-area: left-content;
  }
  
  .dual-dialogue > .right {
    grid-area: right-content;
  }

  /* Wrylies */
  .dialogue > .parenthetical {
    margin-left: 129.6pt;
    margin-bottom: 0;
  }
  
}

/* Night Mode */

html.night-mode {
  color: #cccccc;
  background-color: #101010;
}

.night-mode body,
.night-mode a {
  color: #dedede; /* iOS text color */
}

.night-mode body {
  background-color: #101010; /* iOS background color */
}

.mac.night-mode body,
.mac.night-mode a {
  color: #cccccc; /* OS X text color */
}

.mac.night-mode body{
  background-color: #101010;
}